.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 150px;
}

.title {
  font-size: 24px;
  margin-bottom: 18px;
  text-align: center;
  color: #255db0;
}

.title p {
  font-weight: 600;
  margin: -5px;
}

.line {
  height: 2px;
  background-color: #3f72be;
  margin-bottom: 25px;
}

.news {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(50px, auto);
}

.list {
  display: flex;
  flex-direction: column;
}

.newsContainer {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 18px -6px rgba(24, 39, 75, 0.12),
    0px 12px 42px -4px rgba(24, 39, 75, 0.12);
  padding: 25px;
}

.nameTitle {
  border-bottom: #255db0 0.5px solid;
  font-size: 12px;
}

.p {
  font-size: 14px;
}

.newsContainer:active {
  box-shadow: none;
}

@media screen and (max-width: 768px) {
  .main {
    margin: 90px 10px 70px 70px;
  }

  .title {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .line {
    height: 2px;
    background-color: #3f72be;
    margin-bottom: 15px;
  }

  .news {
    display: block;
    flex-direction: column;
    gap: 10px;
  }

  .grid {
    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 10px;
    /* width: 150px; */
    /* padding: auto; */
  }

  .list {
    display: flex;
    flex-direction: column;
    width: auto;
  }

  .newsContainer {
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding: 25px;
  }

  .nameTitle {
    font-size: 10px;
  }

  .p {
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
}
