.header {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
}

.link {
  text-decoration: none;
  color: white;
  padding-right: 5px;
}

@media screen and (min-width: 360px) {
  .icon {
    font-size: 1.5rem !important;
  } 
  .header {
    display: block;
  }
  .link {
    margin-right: 25px;
  }
}
